
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/">
    <%= cl_image_tag("logo") %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">What animal?</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Start Date</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">End date</a>
      </li>
    </ul>
  </div>

  <div class="authentication">
    <% if current_user %>
    <%if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, id: "navbarDropdown", class: "rounded-circle avatar dropdown-toggle", data: { toggle: "dropdown"}%>
    <% else %>
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%=asset_path 'noavatar.png' %>" />
    <%end%>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn"%>
      <%= link_to "Log in", new_user_session_path, class: "btn"%>
    <% end %>
    <div class="dropdown-menu dropdown-menu-right pl-3" aria-labelledby="navbarDropdown">
      <%= link_to 'See all my bookings', user_bookings_path(current_user), class: "mr-2" if current_user %>
      <br>
      <%= link_to 'See all my booked pets', user_booked_pets_path(current_user), class: "mr-2" if current_user %>
      <br>
      <%= render 'devise/shared/login' %>
    </div>
  </div>
</div>
