<div class="container my-5">
  <div class="row">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet) do %>
        <div class="col-3 text-center">
          <% if pet.photo.attached? %>
            <%= cl_image_tag pet.photo.key, height: 150, width: 150, crop: :fill, class: "rounded-circle pet-photo" %>
          <% end %>
          <div class="mt-3">
            <%= link_to pet.name, pet_path(pet), class: "pet-link" %>
            <p><%= pet.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "layouts/shared/other_categories" %>
