<div class="card-booking mb-3">
  <%= link_to pet_path(booking.pet), class: "pet-link" do %>
    <%= cl_image_tag booking.pet.photos.first.key if booking.pet.photos.attached? %>
  <% end %>
  <div class="card-booking-infos">
    <h2>
      <%= link_to booking.pet.name, pet_path(booking.pet) %>
      <%= link_to icon('fas', 'edit'), edit_pet_booking_path(booking.pet, booking) %>
      <%= link_to icon('fas', 'trash-alt'), booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }%>
    </h2>
    <p><strong>Contact:</strong> <%= booking.user.email %></p>
    <p class="mb-1"><strong>From:</strong> <%= booking.start_date %> <strong>To:</strong> <%= booking.end_date %></p>
    <p class="card-text">Address: <%= booking.pet.address %></p>
    <p class="card-text">Total: <strong><%= booking.total_price %></strong> €</p>
    <% if booking.confirmed %>
      <p class="text-success">Confirmed<input type="checkbox" name="confirmed" id="confirmed" checked disabled class="ml-2"></p>
    <% else %>
      <div class="d-flex align-items-center">
        <p class="text-danger mr-2 my-0">Confirmation needed</p>
        <%= link_to icon('fas', 'check', 'Confirm'), "/bookings/confirm/#{booking.id}", class: "text-dark border-bottom" if booking.pet.user == current_user %>      
      </div>
    <% end %>
  </div>
</div>
