<div class="container">
  <h1>Bookings for my pets</h1>
  <% @bookings.each do |booking| %>
    <div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= cl_image_tag booking.pet.photos.first.key, height: 180, width: 180, crop: :fill, class: "rounded-circle m-4" if booking.pet.photos.attached? %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%= link_to  pet_path(booking.pet) do %>
        <h5 class="card-title"><%= booking.pet.name %></h5>
        <% end %>
        <p class="mb-1"><strong>From:</strong> <%= booking.start_date %> <strong>To:</strong> <%= booking.end_date %></p>
        <p class="card-text">Address: <%= booking.pet.address %></p>
        <% if booking.confirmed %>
          <p class="text-success">Confirmed<input type="checkbox" name="confirmed" id="confirmed" checked disabled class="ml-2"></p>
        <% else %>
          <p class="text-danger">Waiting for your confirmation<input type="checkbox" name="confirmed" id="confirmed" disabled class="ml-2"></p>
          <%= link_to 'Confirm booking', "/bookings/confirm/#{booking.id}" , class: "btn my-2"%>
        <% end %>
        <%= link_to 'Cancel/Delete booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn my-2"%>
      </div>
    </div>
  </div>
</div>
  <% end %>
</div>
