<h1>Booking details</h1>
<h3>Pet: <%= @booking.pet.name %></h3>
<p>Address: <%= @booking.pet.address %></p>
<h3>User: <%= current_user.first_name %></h3>

<p>From: <%= @booking.start_date %></p>
<p>To: <%= @booking.end_date %></p>
